@font-face {
    font-family: 'Trajan Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'), url('../resources/fonts/TrajanPro-Regular.woff') format('woff');
}

@media screen and (max-height:720px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-height:450px) {
    :root {
        font-size: 10px;
    }
}

body * {
    font-family: 'Trajan Pro Regular';
    font-weight: bold;
    color: lightgray;
    text-shadow: 1px 1px 1px black;
    user-select: none;
    box-sizing: border-box;
}

body *:focus {
    outline: none;
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;
    background: #222222;
    border: 1px solid lightgray;
}

button {
    font-size: 1.5rem;
    background: url('../resources//images/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

button:hover {
    color: #EB7800;
    filter: brightness(1.75);
}

button:active {
    color: #EB7800;
    filter: invert(6%) sepia(93%) saturate(1512%) hue-rotate(360deg) brightness(80%) contrast(104%);
}

.tooltip {
    position: absolute;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.tooltip .tooltip-title {
    font-size: 2rem;
    color: #EB7800;
    filter: brightness(1.75);
}

.tooltip .tooltip-description {
    font-size: 1.5rem;
    color: lightgray;
}

.tooltip .tooltip-effect {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #EB7800;
    filter: brightness(1.75);
}

button.reset-all {
    flex: 1;
}